<a href="https://colab.research.google.com/github/JisbethDiaz/FCFM_Miner-a_de_Datos/blob/Miner%C3%ADa-de-datos/Ej_python_1857602.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [3]:
nomb='Jisbeth Jaquelin Díaz Vázquez'
mat= 1857602
print('Nombre= ', nomb, '\nMatricula= ', mat)

Nombre=  Jisbeth Jaquelin Díaz Vázquez
Matricula=  1857602

# Ejercicio 2
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [7]:
a= float(input('Ingresa el primer número: '))
b= float(input('Ingresa el segundo número: '))
s= a+b
r= a-b
m= a*b
if(b==0):
  d= 'No es posible realizar esta división'
else:
  d= a/b

print('\nSuma: ', s, '\nResta: ', r, '\nMultiplicación: ', m, '\nDivisión: ', d)

Ingresa el primer número: 5
Ingresa el segundo número: 0

Suma:  5.0
Resta:  5.0
Multiplicación:  0.0
División:  No es posible realizar esta división

# Ejercicio 3
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [11]:
lista= []
for i in range (1,11):
  a= i*3
  lista.append(a)
s= sum(lista)

print(lista)
print('Suma: ',s)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
Suma:  165

# Ejercicio 4
1. Con una función de if else, revisar si un número es par o es impar.
2.Con una función de if else, revisar si un número es primo o no

In [44]:
n= int(input('Ingresa un número entero: '))
#1
if(n%2==0):
  print('El número es par')
else:
  print('El número es impar')

#2
y=0
for i in range (2, n):
  d= n%i
  if(d==0):
    print('El número NO es primo')
    y=1
    exit
    
if(n==0):
  print('El número NO es primo')
if y==0:
  print('El número es primo')

Ingresa un número entero: 7
El número es impar
El número es primo

# Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [33]:
a= float(input('Ingresa el primer número: '))
b= float(input('Ingresa el segundo número: '))
def Menu():
    op='k'
    while op!='a' and op!='b'and op!='c'and op!='d' and op!='e' and op!='f':
        print('\n Elige la operción a realizar: ')
        print('\t a) Suma \n\t b) Resta \n\t c) Multiplicación \n\t d) División \n\t e) Exponente\n\t f) Salir')
        op= input('\t\t\t-->')
        if op!='a' and op!='b'and op!='c'and op!='d' and op!='e' and op!='f':
            print('\tERROR AL CAPTURAR OPCIÓN\n')
    return op

op= Menu()
while op!='f':
  if op=='a':
    res= a+b
  elif op=='b':
    res= a-b
  elif op=='c':
    res= a*b
  elif op=='d':
    if(b==0):
      res= 'No es posible realizar esta división'
    else:
      res= a/b
  elif op=='e':
    res= a**b
  print('Resultado de la operación: ', res)
  op= Menu()

Ingresa el primer número: 3
Ingresa el segundo número: 5

 Elige la operción a realizar:
	 a) Suma
	 b) Resta
	 c) Multiplicación
	 d) División
	 e) Exponente
	 f) Salir
			-->a
Resultado de la operación:  8.0

 Elige la operción a realizar:
	 a) Suma
	 b) Resta
	 c) Multiplicación
	 d) División
	 e) Exponente
	 f) Salir
			-->b
Resultado de la operación:  -2.0

 Elige la operción a realizar:
	 a) Suma
	 b) Resta
	 c) Multiplicación
	 d) División
	 e) Exponente
	 f) Salir
			-->c
Resultado de la operación:  15.0

 Elige la operción a realizar:
	 a) Suma
	 b) Resta
	 c) Multiplicación
	 d) División
	 e) Exponente
	 f) Salir
			-->d
Resultado de la operación:  0.6

 Elige la operción a realizar:
	 a) Suma
	 b) Resta
	 c) Multiplicación
	 d) División
	 e) Exponente
	 f) Salir
			-->e
Resultado de la operación:  243.0

 Elige la operción a realizar:
	 a) Suma
	 b) Resta
	 c) Multiplicación
	 d) División
	 e) Exponente
	 f) Salir
			-->f

# Ejercicios con estructuras básicas de python.

# Tuplas
1. Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

2. Crear una tupla con valores enteros imprimir el primer y ultimo valor.

3. Añadir 3 valores de string a la tupla.

4. Verificar si una variable existe dentro de la tupla.

In [90]:
#1
a= 1.05
b= 2
c= True
d= 3j
print(' a= ', a, ' es: ',type(a))
print(' b= ', b, ' es: ',type(b))
print(' c= ', c, ' es: ',type(c))
print(' d= ', d, ' es: ',type(d))

#2
tupla=(1,2,6,9,8,5)
u=len(tupla)
print('\nPrimer valor de tupla: ', tupla[0])
print('Último valor de tupla: ', tupla[u-1])

#3
lista=[]
lista=list(tupla)
a='vaso'
b='oso'
c='plato'
lista.append(a)
lista.append(b)
lista.append(c)
ntupla= tuple(lista)
print('\n Tupla:\n', ntupla)


#4
variable= input('\nIngresa la variable a verificar dento de la tupla: ')
if variable in ntupla:
  print('\tLa variable está en la tupla')
else:
  print('\tLa variable NO está en la tupla')

 a=  1.05  es:  <class 'float'>
 b=  2  es:  <class 'int'>
 c=  True  es:  <class 'bool'>
 d=  3j  es:  <class 'complex'>

Primer valor de tupla:  1
Último valor de tupla:  5

 Tupla:
 (1, 2, 6, 9, 8, 5, 'vaso', 'oso', 'plato')

Ingresa la variable a verificar dento de la tupla: 7
	La variable NO está en la tupla

# Listas
1. Crear una lista con 40 elementos aleatorios enteros.

2. Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

3. Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

4. Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

5. Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [91]:
#1
import random
lista= []
for i in range (0,40):
  a= random.randint(0, 200)
  lista.append(a)
print('Lista: \n', lista, '\n\n')

#2
par=[]
impar=[]
def Clasif(lista):
  for i in range(0,40):
    n= lista[i]
    if(n%2==0):
      par.append(n)
    else:
      impar.append(n)
Clasif(lista)

#3
a= len(par)
b= len(impar)

#4
par.sort(reverse=True)
impar.sort()

#Impresiones
print('Lista pares:\n',par)
print('Longitud de lista: ', a)
print('\nLista impares:\n',impar)
print('Longitud de lista: ', b)

Lista:
 [128, 14, 192, 64, 14, 120, 6, 27, 136, 34, 12, 169, 90, 6, 89, 109, 39, 58, 188, 178, 141, 69, 25, 102, 55, 137, 144, 191, 2, 41, 151, 145, 56, 24, 167, 175, 30, 34, 129, 57]


Lista pares:
 [192, 188, 178, 144, 136, 128, 120, 102, 90, 64, 58, 56, 34, 34, 30, 24, 14, 14, 12, 6, 6, 2]
Longitud de lista:  22

Lista impares:
 [25, 27, 39, 41, 55, 57, 69, 89, 109, 129, 137, 141, 145, 151, 167, 169, 175, 191]
Longitud de lista:  18

# Diccionarios
1. Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

2. Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

3. Usando el diccionario y un loop, imprimir solo los nombres.

4. Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [123]:
#1
aa= []
dicc=dict()
dicc={'Lluvia':45,'Marco':61, 'José':40, 'Monica':38, 'Danna':26, 'Juan':20}
aa= dicc.items()
print(aa)

#2
edad=[]
for i in range(0,6):
  e= aa[0][i]
  edad.append(e)

print(edad)

#3
nombre=[]
for i in range(0,6):
  n=dicc[i]
  nombre.append(n)

print(edad)

#4¨
for i in range(0,2):
  n=input('Introduzca el nombre: ')
  if n in dicc:
    print('\n\t ', col, 'Ya se encuentra en lista')
  else:
    e=int(input('Introduzca su edad: '))
    dicc[n]=e

print(dicc)

dict_items([('Lluvia', 45), ('Marco', 61), ('José', 40), ('Monica', 38), ('Danna', 26), ('Juan', 20)])

TypeError: ignored

# Sets
1. Crea un set con 100 numeros aleatorios enteros del 1 al 25.

2. Comprueba la longitud de tu set.

3. Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [104]:
#1
import random
sett= set()
for i in range (0,100):
  a= random.randint(1, 25)
  sett.add(a)
print('Set: \n', sett)

#2
print('\n Longitud del set: ', len(sett), '\n')

#3
ale= []
for i in range (0,5):
  a= random.randint(1, 10)
  ale.append(a)

for i in range(0,5):
  if ale[i] in sett:
    print(ale[i], '\t está en set')
  else:
    print(ale[i], '\tNO está en set')

Set:
 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

 Longitud del set:  25

6 	 está en set
7 	 está en set
5 	 está en set
8 	 está en set
1 	 está en set